.countdown-kanban
  background-image: url('^assets/game/BBQS/pedestrian_lights_bg.png')
  color: white
  width: 100%
  height: 100%
.countdown-kanban-light
  width: 91%
  height: 27%
  position: absolute
  top: 8%
  left: 4%
  box-sizing: border-box
  color: rgba(71,71,71,1)
  font-size: 12px
  .red-light-text
    position: absolute
    left: 19px
    top: 5px
  &.red-light
    .red-light-text
      color: rgba(255,255,255,1)
  .green-light-text
    position: absolute
    right: 19px
    top: 5px
  &.green-light
    .green-light-text
      color: rgba(255,255,255,1)
  &.red-light::before
    content: ' '
    width: 50%
    height: 100%
    position: absolute
    left: 0
    background-image: url('^assets/game/BBQS/pedestrian_lights_stop.png')
    background-size: auto
    background-position-y: -4px
    background-position-x: -5px
  &.green-light::before
    content: ' '
    width: 50%
    height: 100%
    right: 0
    position: absolute
    background-image: url('^assets/game/BBQS/pedestrian_lights_go.png')
    background-size: auto
    background-position-y: -4px
    background-position-x: -5px
.countdown-kanban-num
  width: 91%
  height: 57%
  bottom: 5%
  left: 4%
  position: absolute
  border: 4px #151a1d solid
  border-radius: 5px
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center
  font-size: 40px
  font-weight: bold
