.bg.bg-demo
  position: absolute
  top: 0px
  opacity: 0.9
  background-image: url('^assets/bg-base.png')
  background-repeat: no-repeat
.bg
  position: relative
  width: 750px
  height: 424px
  background-image: url('^assets/bg.png')
  background-size: contain
  transform-origin: center 160px
  transition: 1s
  transition-timing-function: linear

.men
  position: absolute
  width: 63px
  height: 99px
  background-image: url('^assets/man.png')
  background-size: contain
  transition: 1s
  backface-visibility: hidden
  transition-timing-function: linear
  bottom: 20px

  &.is-die::after
    content: 'X'
    color: red
    width: 18px
    height: 17px
    position: absolute
    top: 44%
    left: 40%

@for $i from 0 through 7
  .men-no-#{$i+1}
    left: #{54 + $i*79}px
    &::before
      content: '#{$i+1}'
      background-color: white
      width: 18px
      height: 17px
      position: absolute
      top: 46%
      left: 35%
      display: flex
      align-items: center
      justify-content: center


// @keyframes people-die
//   10%, 90%
//     transform: translate3d(0, -1px, 0)
//   20%, 80%
//     transform: translate3d(0, 2px, 0)
//   30%, 70%
//     transform: translate3d(0, -4px, 0)
//   40%, 60%
//     transform: translate3d(0, -4px, 0)
//   50%
//     transform: translate3d(0, -4px, 0)
