<div class="bbqs-game-result">
  <div class="bbqs-game-result-people"  *ngFor="let people of currentPeopleRank; let i = index" [ngClass]="'bbqs-game-result-people-no'+people.no">
    <div class="rank-title">
     <ng-container *ngIf="i === 0">冠軍</ng-container>
     <ng-container *ngIf="i === 1">亞軍</ng-container>
     <ng-container *ngIf="i === 2">季軍</ng-container>
     <ng-container *ngIf="i >2 ">第{{i+1}}名</ng-container>
    </div>
    <div class="rank-no" [class.is-girl]="people.no >4">{{people.no}}</div>
    <div class="people-status" [class.is-live]="people.status === BBQSPeopleState.LIVE" [class.is-die]="people.status === BBQSPeopleState.DIE"></div>
  </div>
</div>
