<div class="bbqs-container">
  <app-bbqs-animation-scene
        [countDown]="countDownSec"
        [runTimeMs]="runTimeMs"
        [result]="result"
        [draw_num]="draw_num"
        (onGameStateChange)="isGameOver = $event"
        (onLightChange)="handelLightChange($event)"
        (onPeoplesRankChange)="handelPeopleRankChange($event)"></app-bbqs-animation-scene>

  <div class="is-game-over" *ngIf="isGameOver">
    <span>GAME OVER</span>
  </div>
  <app-bbqs-run-time-kanban [isGameOver]="isGameOver"  [runTimeMs]="runTimeMs" [light]="light" *ngIf="countDownSec === 0"></app-bbqs-run-time-kanban>
  <app-bbqs-rank-map [runTimeMs]="runTimeMs" [light]="light" [currentPeopleRank]="currentPeopleRank" *ngIf="countDownSec === 0"></app-bbqs-rank-map>
  <app-bbqs-animation-countdown [isMute]="isMute" [countDown]="countDownSec" *ngIf="countDownSec > 0 && countDownSec <4"></app-bbqs-animation-countdown>
</div>
<div class="origin-bbqs-wapper" *ngIf="displayOriginWapper">
  <div class="bbqs-game-info">
    <div class="bbqs-game-info-title">最新結果</div>
    <div class="bbqs-game-info-num">No.20210622029</div>
  </div>
  <app-bbqs-current-rank [currentPeopleRank]="currentPeopleRank" [runTimeMs]="runTimeMs"></app-bbqs-current-rank>


</div>
<!-- <div class="test"></div> -->
<button (click)="runCountDown()">countDown</button>
<button (click)="runCountDownAuto()">auto countDown</button>
<button (click)="run(-1000)">run-</button>
<button (click)="run(1000)">run+</button>
<button (click)="autoRun()">autoRun</button>
<button (click)="reset()">reset</button>
{{runTimeMs}}
