<div class="bbqs-container">
  <app-bbqs-animation-scene [runTimeMs]="runTimeMs" [result]="result" [draw_num]="draw_num" (onLightChange)="handelLightChange($event)"></app-bbqs-animation-scene>
  <app-bbqs-run-time-kanban [runTimeMs]="runTimeMs" [light]="light" *ngIf="countDown === 0"></app-bbqs-run-time-kanban>
  <app-bbqs-animation-countdown [countDown]="countDown" *ngIf="countDown > 0"></app-bbqs-animation-countdown>
</div>
<button (click)="runCountDown()">countDown</button>
<button (click)="run(-1000)">run-</button>
<button (click)="run(1000)">run+</button>
<button (click)="autoRun()">autoRun</button>
<button (click)="reset()">reset</button>
{{runTimeMs}}
